# Standard Python/IDE/OS files
.DS_Store
Thumbs.db
*.swp
*.swo

__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
.env

# Jupyter Notebook files
.ipynb_checkpoints/

# Caches and built artifacts
.cache/
.dist/
node_modules/

# ---------------------------------
# Project-specific rules
# ---------------------------------

# Ignore all datasets
NeuroID/Dataset/**

# Ignore all contents of the server folder...
NeuroID/server/*

# ...BUT un-ignore (keep) the app.py file
!NeuroID/server/app.py

# Ignore trained models and large data files
*.h5
*.hdf5
*.pt
*.onnx
*.edf
*.dat
*.hea
*.zip
*.7z
*.rar

# Logs
*.log
logs/**